
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- FIN CSS -->
</head>
<body>


  <br><br><br>

<!-- SELECCIONAR MEDICO/PACIENTE -->
<div class="menuPM container">
  <div class="section">
    <div class="row">
      <div class="col l3"></div>
      <div class="col l6">
        <div class="row center-align">
          <a class="selectP" href="#">
          <div style="padding: 0px;" class="col l6"><img class="responsive-img" src="https://i.imgur.com/UAhDdjf.png" alt="">
          <div style="width: 100%; box-shadow: none; border-radius: 0px;" class="prueba123 btn-p waves-effect waves-light btn teal accent-4">INGRESO - PACIENTE</div>
          </div>
          </a>
          <a class="selectM" href="#">
          <div style="padding: 0px;" class="col l6"><img class="responsive-img" src="https://i.imgur.com/rMdxoM9.png" alt="">
          <div style="width: 100%; box-shadow: none; border-radius: 0px;" class="waves-effect waves-light btn teal accent-4">INGRESO - MÉDICO</div>
          </div>
          </a>
        </div>
      </div>
      <div class="col l3"></div>
    </div>
  </div>
  <br><br>
</div>
<!-- FIN SELECCIONAR MEDICO PACIENTE -->

<!-- LOG IN MEDICO -->
<form method="PUT" action="/Medico/mostrarPacientes/">
<div class="menuM hide section no-pad-bot">
  <div class="container">
    <div class="row center">
      <h4 class="header col s12 light">Introduzca su número de licencia médica</h4>
      <div class="input-field col s12 m4 l4">
        <input id="licencia" type="number" class="validate" name="licencia">
        <label for="licencia">Número de licencia</label>
      </div>
      <div class="col m4 l4"></div>
    </div>
  </div>
  <div class="row center">
    <input type="submit" id="download-button" class="btn-large waves-effect waves-light teal accent-4" value="Ver Pacientes"/>
  </div>
  <br><br><br>
</div>
</form>
<!-- Fin login medico -->
<!-- Login Pacientes -->
<div class="menuP hide section no-pad-bot">
  <div class="container">
    <div class="row center">
      <form method="PUT" action="/Paciente/showPaciente/">
      <h4 class="header col s12 light">Introduzca su cédula de identidad</h4>
      <div class="input-field col s12 m4 l4">
        <input id="cedula" type="number" class="validate" name="cedula">
        <label for="cedula">Número de cedula</label>
      </div>
      <div class=" col s12 m4 l4">
        <input class="btn waves-effect waves-light" type="submit" value="Ingresar" ></input>
        <a type="submit" href="Paciente/Registro" id="boton-registrar download-button" class="btn waves-effect waves-light">Registrarse</a>
      </div>
      </form>
    </div>
  </div>
  <br><br><br>
</div>
<!-- FIN LOG IN PACIENTES -->



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
        $(".selectP").click(function(){
            $(".menuP").removeClass("hide");
            $(".menuPM").addClass("hide");
        });

        $(".selectM").click(function(){
            $(".menuM").removeClass("hide");
            $(".menuPM").addClass("hide");
        });
    });
  </script>


  </body>
  </html>

