<form action="/Medico/mostrarPacientes/" method="PUT">
  <html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title></title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- FIN CSS -->
  </head>
  <body>


  <!-- BARRA DE NAVEGACIÓN -->
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="#" class="brand-logo center">MedicType</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>
  <!-- FIN BARRA DE NAVEGACIÓN -->

  <!-- CAMPO DE LICENCIA Y BOTÓN DE VER PACIENTES -->
  <div style="height: 60vh;" class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br><br><br>
      <div class="row center">
        <h4 class="header col s12 light">Introduzca su número de licencia médica:</h4>
        <div class="col m4 l4"></div>
        <div class="input-field col s12 m4 l4">
          <input id="licencia" type="number" class="validate" name="id">
          <label for="licencia">Número de licencia</label>
        </div>
        <div class="col m4 l4"></div>
      </div>
    </div>
    <div class="row center">
      <input type="submit" id="download-button" class="btn-large waves-effect waves-light teal accent-4" value="Ver Pacientes"/>
    </div>
    <br><br>
  </div>
  </div>
  <!-- FIN CAMPO DE LICENCIA Y BOTÓN DE VER PACIENTES -->

  <div class="container">
    <div class="section">



    </div>
    <br><br>
  </div>

  <footer class="page-footer teal accent-4">
    <div class="container">
      <div class="row">
        <div class="col s12 m9 l9">
          <h5 class="white-text">Sobre el Proyecto</h5>
          <p class="grey-text text-lighten-4">Proyecto de Base de Datos de la Universidad Metropolitana. Implementación de una base de datos relacional con Sails.js y MySQL.</p>


        </div>
        <div class="col s12 m3 l3">
          <h5 class="white-text">Integrantes:</h5>
          <ul>
            <li><a class="white-text" href="#!">Maximiliano Casale</a></li>
            <li><a class="white-text" href="#!">Abraham Chang</a></li>
            <li><a class="white-text" href="#!">Gabriel De Lellis</a></li>
            <li><a class="white-text" href="#!">Gabriele Troncone</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Proyecto realizado en <a class="grey-text text-darken-2" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
  </script>



  </body>
  </html>
</form>
