<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- FIN CSS -->
</head>
<body>

<!-- LISTA DE PACIENTES -->
<div  class="container">
  <div class="section">
    <div class="row">
      <br><br>
      <h4 class="col s12 light center">Frecuencia de enfermedades</h4>

      <table class="highlight centered">

        <thead>
        <tr>
          <th class="teal-text text-accent-4">Nombre</th>
          <th class="teal-text text-accent-4">Frecuencia</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(patologia, function (patologia){ %>
        <tr data-id="<%= patologia.id %>" data-model="paciente" >
         
          <td><%= patologia.Nombre %></td>
    
          <td><%= patologia.Frecuencia %></td>
        </tr>
        </tbody>
        <% }) %>
      </table>
    </div>
  </div>
  <br><br>
</div>
 <!-- FIN LISTA DE PACIENTES -->

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>



</body>
</html>

